* {
    font-family: Castellar, serif;
    margin: 0;
    padding: 0;
}
.header{
    width:100%;
    color: white;
    padding: 20px;
    background: black;
}
.menu-item{
    list-style: none;
}
.menu-link{
    color: azure;
    text-decoration: none;
}
.conteiner{
    max-width: 1140px;
    padding: 10px;
    margin: 15px ;
}
.menu{
    font-size: 20px;
}